<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"></html>


<head>

    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title></title>
    <style>
        #navigation,.navbar .navbar-default{
  background-image: url("C:/Users/krao6/sudha.jpg");
}
    </style>



</head>
<body style="background-color: orange;">
<!--<div th:replace="fragments/navbar :: navbar_html"></div>-->
<!--<div class="container">-->
<!--    <div th:replace="fragments/message :: message_html"></div>-->
<!--</div>-->

<div class="container">
    <h1>Login</h1>
    <hr>
    <form  action="login" method="post">

        <label for="phone">Phone</label>
        <input type="number" class="form-control" name="mobile" id="phone" placeholder="phone" maxlength="10">

        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password">


        <br>
        <button id="submit" class="btn btn-primary">Sign in</button>

    </form>
    <br>
    <form action="register" method="get">
        <button id="" class="btn btn-secondary">Register</button>
    </form>
</div>
<!--    </form>-->
<!--        <form action="register" method="post">-->
<!--            <label for="message">Message</label>-->
<!--            <input type="text" name="message" id = "message">-->
<!--            <button id="submit" class="btn btn-primary">Sign in</button>-->
<!--        </form>-->
<!--    </div>-->

</body>
<script>
<!--    $(document).ready( function (){-->
<!--        console.log("ready!");-->
<!--        $("#submit").click(function(){-->
<!--            console.log($('#form').serialize());-->
<!--            $.ajax({-->
<!--                type : 'POST',-->
<!--                url : '/register',-->
<!--                data : {"message":"hello"},-->

<!--            })-->
<!--        })-->
<!--    })-->
</script>
</html>