<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>View Order</title>
    <style>
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

  </style>
    <style type="text/css">
table { border: 3px solid red }
table th { border: 2px solid green }
table td { border: 1px solid blue }
</style>
    <!--    <script>-->
    <!--    function GetTotal()-->
    <!--    {-->
    <!--    /*Footer Calculation*/-->

    <!--    var sum=0;-->
    <!--    var amts =  document.getElementsByName("amt");-->

    <!--    for (let index = 0; index < amts.length; index++)-->
    <!--    {-->
    <!--    var amt = amts[index].value;-->
    <!--    sum = +(sum) +  +(amt) ;-->
    <!--    }-->

    <!--    document.getElementById("FTotal").value = sum;-->

    <!--    var netSum =  document.getElementById("FnetAmount").value;-->
    <!--    var net = +(sum) + +(netsum);-->
    <!--    document.getElementById("FnetAmount").value = net;-->

    <!--    }-->
    <!--    </script>-->

</head>
<body style="background-color: #fff;">
<p style="background-image: url('Downloads/sasha-matic-Y7zkuWl1jDk-unsplash.jpg');">
<div th:replace="fragments/navbar :: navbar_html"></div>
<br>
<div class="container">
    <div th:replace="fragments/message :: message_html"></div>
</div>
<div class="container">
    <h1>View Order</h1>
    <hr>
    <div class="row auto-align">
        <div class="col">
            <h3><i>Order No:</i> <b><span th:text="${sales.orderNo}" id="orderNo"></span></b></h3>
        </div>
        <div class="col">
            <h3><i>Customer Code:</i> <b><span th:text="${sales.custCode}" id="custCode"></span></b></h3>
        </div>
        <div class="col">
            <h3><i>Date:</i> <b><span th:text="${sales.date}" id="date"></span></b></h3>
        </div>



    </div>




</div>

</div>
<br>
<div class="container">
    <table class="tableSelect" id="productTable">
        <thead>
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Rate</th>
            <th scope="col">Discount</th>
            <th scope="col">Amount</th>
            <th scope="col">Net Amount</th>
            <th scope="col" style="display:none;">P_Key</th>

        </tr>
        </thead>

        <tbody id="TBody">
        <tr id="TRow" th:each=" order : ${orders}">
            <td></td>
            <td scope="col"> <span th:text="${order.prodCode}" ></span> </td>
<!--            <label for="product">Product</label>-->
<!--            <select id="product" class="form-control" name="product" autocomplete="on">-->
<!--                <option th:each="i : ${products}" th:value="${i.PCode}" ><span th:text="${i.PName}"></span> - <span th:text="${i.unitRate}">(Common price)</span></option>-->
<!--            </select>-->
<!--            <td scope="col"> <input type = "text" class="form-control" id="prodCode" name="prodCode" th:each="i : ${products}" th:value="${i.PCode}" ><span th:text="${i.PName}"></span><span th:text="${i.unitRate}"></span></td>-->
<!--            <td scope="col"> <option th:each="i : ${products}" th:value="${i.PCode}" ><span th:text="${i.PName}"></span> <span th:text="${i.unitRate}"></span></option>-->
            <td scope="col"> <input type="number" class="form-control" id="qty" name="qty" th:value="${order.quantity}" min="1"/></td>
            <td scope="col"> <span th:text="${order.unitRate}" ></span> </td>
            <td scope="col"> <input type="number" class="form-control" id="disc" name="disc" th:value="${order.disc}" min="0"/> </td>
            <td scope="col"> <span th:text="${order.amount}" id="amount" name="amount"></span> </td>
            <td scope="col"> <span th:text="${order.netAmount}"></span> </td>
            <td scope="col" style ="display:none;"> <span th:text="${order.id}"></span> </td>


        </tr>
        </tbody>
    </table>
    <br>

    <br>
    <div class="row">
        <div class="col">
            <h5><i>Amount:</i> <b><span th:text="${sales.amount}" id="totAmount" name="totAmount"></span></b></h5>

        </div>
        <div class="col">
            <h5><i>Disc:</i> <b><span th:text="${sales.disc}" id="totDiscount" name="totDiscount"></span></b></h5>
            <!-- <h5><i>Disc:</i> <b><input type="text" class="form-control" id="totDiscount" name="totDiscount" /></b></h5> -->
        </div>
        <!--        <div class="col">-->
        <!--            <h5><i>Net Amount:</i> <b><span id="totNetAmount" name="totNetAmount"></span></b></h5>-->

        <!--        </div>-->
        <div class="col">
            <h5><i>Net Amount:</i> <b><span th:text="${sales.netAmount}" id="totNetAmount" name="totNetAmount"></span></b></h5>

        </div>

    </div>

    <div>
        <input type="submit" id="bulkUpdate" name="bulkUpdate" value="UPDATE"/>
    </div>
</div>
</body>
<script>
$(document).ready(function() {
    $.ajax({
        type: 'POST',
        url: '/getproductValues',
        data: {

            "pcode": $("#product").val(),
            "qty": $("#qty").val(),
            "disc": $("#disc").val()
        },
        success: function(data) {
            console.log(data["commonValue"]);
            $("#commonPrice").html(data["commonValue"]);
            $("#specialPrice").html(data["specialValue"]);
            $("#amt").html(data["amount"]);
            $("#totalPrice").html(data["ttlValue"]);
            $("#qty").max(data["specialValue"]);
        }
    })
     $("#product,#qty,#disc").change(function() {
     console.log($("#amount").val());
        $.ajax({
            type: 'POST',
            url: '/getproductValues',
            data: {

                "pcode": $("#product").val(),
                "qty": $("#qty").val(),
                "disc": $("#disc").val()
            },
            success: function(data) {
                console.log(data["commonValue"]);
                $("#commonPrice").html(data["commonValue"]);
                $("#specialPrice").html(data["specialValue"]);
                $("#amt").html(data["amount"]);
                $("#totalPrice").html(data["ttlValue"]);
            }
        })
    })
    $("#addProduct").click(function() {
        var table = document.getElementById("productTable");
        var row = table.insertRow(-1);
        var product = row.insertCell(0);
        var qty = row.insertCell(1);
        var unitrate = row.insertCell(2);
        var disc = row.insertCell(3);
        var amt = row.insertCell(4);
        var ttl = row.insertCell(5);

        product.innerHTML = $("#product").val();
        qty.innerHTML = ($("#qty").val());
        unitrate.innerHTML = ($("#specialPrice").html());
        disc.innerHTML = ($("#disc").val()) * ($("#qty").val());
        amt.innerHTML = ($("#amt").html());
        ttl.innerHTML = ($("#totalPrice").html());

    })

$(document).ready(function() {
//alert("in");
 var addSerialNumber = function () {
    var i = 1
    $('table tbody tr').each(function(index) {
        $(this).find('td:nth-child(1)').html(index+1);
    });
};

addSerialNumber();
});
</script>

<script>
  // ajax call update for table
$('#bulkUpdate').click(function() {

 var dailySales = [];
  //var prodCode,qty, disc;
<!--  var prodCode = $("#prodCode").val();-->
  var totAmount = $("#totAmount").text();
  var totDisc = $("#totDiscount").text();
  var totNetAmount =$("#totNetAmount").text();
var orderNo =$("#orderNo").text();
//alert(orderNo);


  $("table tbody tr").each(function(index) {
  var currentRow=$(this).closest("tr");
<!--  var productCode = parseString(currentRow.find('#prodCode').val());-->
   var quantity = parseFloat(currentRow.find('#qty').val());
      var disc = parseFloat(currentRow.find('#disc').val());
       var amount=currentRow.find("td:eq(5)").text();
         var netAmount=currentRow.find("td:eq(6)").text();
           var id=currentRow.find("td:eq(7)").text();

    dailySales.push({
<!--    productCode : productCode,-->
      quantity: quantity,
      disc: disc,
      amount: amount,
      netAmount: netAmount,
      totDisc : totDisc,
      totNetAmount: totNetAmount,
      totAmount : totAmount,
      id :  id,
      orderNo : orderNo



    });


  });

  var json = JSON.stringify(dailySales);
  //alert(json);

  $.ajax({
url: '/updateOrder',
    method: 'POST',
        contentType : 'application/json; charset=utf-8',
        data: JSON.stringify(dailySales),
success: function(data) {


alert("Data Saved Successfully !!!");
}
});
});

</script>

<script>

$('table tbody tr').keyup(function() {
 //var index = this.rowIndex;
 // alert(index);

 // current row picker
 var currentRow=$(this).closest("tr");
 var $row = $(this).closest('tr');

 var product=currentRow.find("td:eq(1)").text();
 var qty = parseFloat(currentRow.find('#qty').val());
 //alert(qty);
 var unitRate=currentRow.find("td:eq(3)").text();
 //alert(qty*parseFloat(unitRate));
 var calAmount = qty*parseFloat(unitRate);
 //alert(calAmount);
 var discount=currentRow.find("td:eq(4)").text();

 //$currentRow.find('td').eq(5).text(qty*parseFloat(unitRate));
 // set calculated value
 $row.find('td').eq(5).text(calAmount);

var discount = parseFloat(currentRow.find('#disc').val());
//alert(discount);

var netAmount = calAmount - parseFloat(discount) * parseFloat(qty);
//alert(netAmount);
 $row.find('td').eq(6).text(netAmount);


           var discount,amt =0,netamt=0;
  $("table tbody tr").each(function(index) {
  var currentRow=$(this).closest("tr");

   var amount=parseFloat(currentRow.find("td:eq(5)").text());
   var netamount=parseFloat(currentRow.find("td:eq(6)").text());

         amt = amt+amount;
         netamt=netamt+netamount;
           });
discount = amt-netamt;
    $("#totDiscount").html(discount);
    $("#totAmount").html(amt);
    $("#totNetAmount").html(netamt);

});














<!--$("#product,#qty,#customer,#disc").change(function() {-->
<!--console.log($("#product").val());-->
<!--console.log($("#customer").val());-->
<!--$.ajax({-->
<!--type :'POST';-->
<!--url:'/getproductValues',-->
<!--data:{-->
<!--"qty":$("#qty").val();-->
<!--"disc":$("#disc").val();-->
<!--},-->
<!--success.function(data) {-->
<!--console.log(data["amount"]);-->
<!--$("#amt").html(data["amount"]);-->
<!--$("disc").html(data["discount"]);-->
<!--$("#totalPrice").html(data["ttlValue"]);-->
<!--}-->
<!--})-->
<!--})-->



</script>
</html>
